<header class="header desktop-specific">
    <div class="header-social grow">
      <div class="upper grow">sign up for our weekly emails<span class="small">&gt;&gt;</span></div>
      <div class="italic">goop Label: the December edition</div>
      <div><span class="italic underline">Shop the collection</span><span class="small">&gt;&gt;</span></div>
    </div>
    <div><h1 class="upper">City guide</h1></div>
    <div class="grow">
      <div class="header-login-search-panel">
        <ul class="separated-links">
          <li class="separated-link"><router-link href="/">home</router-link></li>
          <li class="separated-link"><router-link href="/sign-in">log in</router-link></li>
          <li class="separated-link"><router-link href="/sign-un">create account</router-link></li>
          <li class="separated-link"><a href="#" class="icon-bag grow"></a></li>
        </ul>
        <search class="top-buffer" placeholder="search"></search>
        <div class="top-buffer">
          <span><i>FREE SHIPPING</i> on US orders over $50 <a href="#">Details</a></span>
        </div>
      </div>
    </div>
  </header>
  <header class="header mobile-specific">
    <div tabindex="0" class="mobile-navbar"><i class="material-icons">menu</i>
      <nav class="nav-bar mobile-specific">
        <ul class="underlined-list">
          <li class="underlined-list-item"><a href="#">shop</a></li>
        </ul>
        <h3>explore</h3>
        <ul class="underlined-list">
          <li class="underlined-list-item"><a href="#">go</a></li>
          <li class="underlined-list-item"><a href="#">be</a></li>
          <li class="underlined-list-item"><a href="#">do</a></li>
          <li class="underlined-list-item"><a href="#">see</a></li>
          <li class="underlined-list-item"><a href="#">make</a></li>
          <li class="underlined-list-item"><a href="#">get</a></li>
        </ul>
        <ul class="mobile-login">
          <li class="mobile-login-item"><a href="#">sign in</a></li>
          <li class="mobile-login-item"><a href="#">bag</a></li>
          <li class="mobile-login-item"><a href="#">my account</a></li>
        </ul>
      </nav>
    </div>
    <span>goop</span>
    <a href="#" class="icon-bag pull-right"></a>
  </header>
  <div class="header-placeholder"></div>