<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1 class="some-class">some-class</h1>
    <h1 class="some-rule">some-rule</h1>
  </body>
</html>