.main-section {
  display: flex;
  padding: 0 30px 25px 30px;
}

.category-title {
  display: flex;
  align-items: center;

  .line {
    flex: 1;
    @include border-top($color: lightgray);
  }

  .title {
    display: flex;
    align-items: center;
    margin: 0 20px;

    img {
      max-width: 100px;
    }

    h1 {
      font-size: 3em;
      padding-left: 10px;
      margin: 0;
    }
  }
}