.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: $text-s;
}