<nav class="nav-bar desktop-specific">
      <div class="main-nav">
        <ul class="sections main-nav-menu upper">
          <li class="main-nav-menu-item">shop</li>
          <li class="main-nav-menu-item">go</li>
          <li class="main-nav-menu-item">be</li>
          <li class="main-nav-menu-item">do</li>
          <li class="main-nav-menu-item">see</li>
          <li class="main-nav-menu-item">make</li>
          <li class="main-nav-menu-item">get</li>
        </ul>
        <ul class="subsections main-nav-menu">
          <li class="main-nav-menu-item subsection-active">more</li>
          <li class="main-nav-menu-item">City Guides</li>
          <li class="main-nav-menu-item">Recipes</li>
          <li class="main-nav-menu-item">Skincare by goop</li>
          <li class="main-nav-menu-item">Goop label</li>
        </ul>
      </div>
    </nav>
    <ul class="breadcrumbs desktop-specific">
      <li class="breadcrumbs-item"><a href="#">home</a></li>
      <li class="breadcrumbs-item"><a href="#">go</a></li>
    </ul>
    <select class="go-to mobile-specific">
      <option value="default" disabled selected>Go to:</option>
      <option value="more">more</option>
      <option value="cityGuides">City Guides</option>
      <option value="recipes">Recipes</option>
      <option value="skincareByGoop">Skincare by goop</option>
      <option value="goopLabel">Goop label</option>
    </select>
    <section class="main-section">
      <aside class="side-nav desktop-specific">
        <ul class="side-nav-sections">
          <li class="side-nav-section-title">city guides</li>
          <li class="side-nav-section arrow">Los-Angeles</li>
          <li class="side-nav-section arrow">New York</li>
          <li class="side-nav-section arrow">London</li>
          <li class="side-nav-section arrow">Paris</li>
          <li class="side-nav-section arrow">Amsterdam</li>
          <li class="side-nav-section arrow">Aspen</li>
          <li class="side-nav-section arrow">Barcelona</li>
          <li class="side-nav-section arrow">Charleston</li>
          <li class="side-nav-section arrow">Cabo</li>
          <li class="side-nav-section arrow">Chicago</li>
        </ul>
        <ul class="side-nav-sections top-buffer">
          <li class="side-nav-section-title">best of</li>
          <li class="side-nav-section">Cadillac Road to Table</li>
          <li class="side-nav-section">Chief Women's Culinary Guide to Chicago</li>
          <li class="side-nav-section">Five Days in Iceland with GP</li>
          <li class="side-nav-section">The Best Ice Cream Spots</li>
          <li class="side-nav-section">The Los Angeles Party Planning Guide</li>
          <li class="side-nav-section expand"><a href="#" class="">View All</a></li>
        </ul>
        <ul class="side-nav-sections top-buffer">
          <li class="side-nav-section-title">more travel</li>
          <li class="side-nav-section">Chief Ford's Culinary Guide to Miami</li>
          <li class="side-nav-section">Miami Road to Table Recap</li>
          <li class="side-nav-section">The London Guides</li>
          <li class="side-nav-section">Two Great Tips to Kick Off Ski Season</li>
          <li class="side-nav-section">Dallas Culinary Guide</li>
          <li class="side-nav-section expand"><a href="#" class="">View All</a></li>
        </ul>
      </aside>
      <article class="main-article grow">
        <div class="category-title">
          <div class="category-title-line"></div>
          <div class="category-title-text"><img alt="lug" src="https://cdn.shopify.com/s/files/1/0690/5793/products/LOPL_leather_case_cognac_0446.jpg?v=1473273314"><span>Go</span></div>
          <div class="category-title-line"></div>
        </div>
        <img class="main-article-photo" src="https://goop.com/wp-content/uploads/2016/11/FREEDOMTOWER_MediaBakery_BLD0115024.jpg" />
      </article>
      <aside class="right-sidebar">
        <div class="shop">
          <h1>Shop</h1>
          <div class="shop-all">shop all go</div>
        </div>
      </aside>
    </section>