* {
  font-family: 'Roboto', sans-serif;
}

header, section.main-section {
  display: flex;
}

header {
  padding: 0 20px;
}

section.main-section {
  padding: 0 30px 25px 30px;
}

article, header > div {
  flex: 1;
}

article {
  text-align: center;
  margin-right: 2%;
  padding-bottom: 30px;
}

nav, header, footer {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}

nav, footer {
  text-align: center;
}

footer {
  padding: 48px 0 40px 0;
}

.main-nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.side-nav {
  margin-top: 20px;
  margin-right: 1%;
  width: 13%;
}

.right-sidebar {
  width: 29%;
}

.shop {
  border: 1px solid black;
  text-align: center;
  padding: 25px 20px;
}

.nav-line {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-line > li {
  cursor: pointer;
  margin: 0 10px;
}

.sections {
  border-bottom: 1px solid lightgray;
  font-size: 1.3em;
}

.subsections {
  font-style: italic;
}

.subsections .active {
  padding: 3px;
  background-color: lightgray;
  font-style: normal;
  text-transform: uppercase;
}

.upper {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

ul.separated-links {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

ul.separated-links > li > a {
  padding: 0 4px;
  box-sizing: border-box;
}

ul.separated-links > li:not(:last-child) {
  border-right: 1px solid;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.login-search {
  text-align: right
}

.social {
  display: flex;
  flex-direction: column;
}

.social > div:first-child {
  flex: 1;
}

.go-to:after {
  content: ">>";
  font-size: 10px;
  left: 3px;
  position: relative;
}

.lsidebar {
  width: 150px;
  padding-right: 10px;
}

.vsections {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vsections > .vsection-title {
  padding: 5px 0;
  font-size: 1.3em;
  text-transform: uppercase;
}

.vsections > .vsection {
  padding: 5px 0;
  cursor: pointer;
  text-transform: capitalize;
}

.vsections > .vsection:hover {
  background-color: lightgray;
}

.vsections > .arrow:after {
  content: "\003e";
  left: 5px;
  position: relative;
}

.vsections > .expand:hover {
  background-color: initial;
  cursor: initial;
}

.shop-all {
  padding: 8px 10px;
  border: 1px solid black;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  display: flex;
  margin-bottom: 10px;
  padding: 15px 30px;
  list-style: none;
}

.breadcrumbs > li > a {
  text-transform: capitalize;
  text-decoration: none;
  color: #666;
}

.breadcrumbs > li:not(:last-child):after {
  content: "/";
  padding: 0 2px;
}

footer {
  padding-top: 10px;
  box-sizing: border-box;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 0.5em;
  text-transform: uppercase;
}

footer a, footer a:visited, footer a:active {
  color: white;
}

footer .separated-links {
  justify-content: center;
}

.small {
  font-size: 10px;
}