header, section {
  display: flex;
}

header {
  padding: 0 20px;
}

section {
  padding: 0 30px 25px 30px;
}

.main, header > div {
  flex: 1;
}

header > div:nth-child(2n+1), section > div:nth-child(2n+1) {
  background-color: lightblue;
}

header > div:nth-child(2n), section > div:nth-child(2n) {
  background-color: lightgray;
}

.main-nav, footer {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
}

footer {
  padding: 48px 0 40px 0;
}

.side-nav {
  margin-top: 20px;
  margin-right: 1%;
  width: 13%;
}

.main {
  margin-right: 2%;
  padding-bottom: 30px;
}

.shop {
  width: 29%;
}

section, header {
  background-color: indianred;
}