header, section {
  display: flex;
}

header {
  padding: 0 20px;
}

h1 {
  text-align: center;
}

section {
  padding: 0 30px 25px 30px;
  height: 200px;
}

.main, header > div {
  flex: 1;
}

header > div:nth-child(2n+1), section > div:nth-child(2n+1) {
  background-color: lightblue;
}

header > div:nth-child(2n), section > div:nth-child(2n) {
  background-color: lightgray;
}

nav, footer {
  box-sizing: border-box;
  padding: 0 30px;
  text-align: center;
  background-color: antiquewhite;
  height: 100px;
}

nav > div, header > div, .side-nav, .shop, .main {
  padding: 20px;
}

footer {
  padding: 48px 0 40px 0;
}

.side-nav {
  margin-top: 20px;
  margin-right: 10px;
  width: 200px;
}

.main {
  text-align: center;
  margin-right: 10px;
  padding-bottom: 30px;
}

.shop {
  width: 200px;
}

section, header {
  background-color: indianred;
}