.game {
  border-radius: 5px;
  display: flex;
  padding: 0;

  &-field {
    width: 210px;
    height: 210px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    &.game-over &-cell {
      pointer-events: none;
    }

    &-cell {
      width: 70px;
      height: 70px;
      border: 1px solid black;
      background-color: lightgray;
      pointer-events: all;
      cursor: pointer;
      position: relative;

      &.cell-active {
        outline: 3px solid;
        z-index: 10;
      }

      &.cell-X, &.cell-O {
        pointer-events: none;
      }

      &.cell-X {
        .sign-X {
          display: block;
        }
      }

      &.cell-O {
        .sign-O {
          display: block;
        }
      }

      &.cell-win {
        background-color: greenyellow;
      }
    }

  }
}